{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="logs" class="box">
        <div class="box-header">
            <span>日志</span>
            <small class="pull-right">每分钟更新</small>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>文件大小</th>
                        <th>最后访问时间</th>
                        <th>最后修改时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>
                            <a href="{{ url_for(".view_log", filename=log.path.decode("utf-8")) }}">
                                {{ log.path.decode("utf-8") }}
                            </a>
                        </td>
                        <td>{{ log.size|filesizeformat }}</td>
                        <td>{{ log.atime|fromtimestamp }}</td>
                        <td>{{ log.mtime|fromtimestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}