{% extends "process.html" %}
{% block process_content %}
    <table class="table">
        <thead>
            <tr>
                <th>文件名</th>
                <th>RSS实际使用物理内存</th>
                <th>实际使用地址空间</th>
                <th>PSS实际使用物理内存</th>
                <th>共享内存(clean)</th>
                <th>共享内存(dirty)</th>
                <th>私有内存(clean)</th>
                <th>私有内存(dirty)</th>
                <th>referenced</th>
                <th>anonymous</th>
                <th>swap占用</th>
            </tr>
        </thead>
        <tbody>
            {% for m in memory_maps|sort(reverse=True, attribute="size") %}
                <tr>
                    <td>{{ m.path }}</td>
                    <td>{{ m.rss }}</td>
                    <td>{{ m.size }}</td>
                    <td>{{ m.pss }}</td>
                    <td>{{ m.shared_clean }}</td>
                    <td>{{ m.shared_dirty }}</td>
                    <td>{{ m.private_clean }}</td>
                    <td>{{ m.private_dirty }}</td>
                    <td>{{ m.referenced }}</td>
                    <td>{{ m.anonymous }}</td>
                    <td>{{ m.swap }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
